
.MicrosoftMap .MapPushpinBase {
    text-decoration: none;
}
.MicrosoftMap .MapPushpinBase img {
    border: medium none;
}
ï»¿ .MicrosoftMap .Infobox {
    box-shadow: 3px 3px 4px #888888;
    cursor: auto;
    font-family: verdana,Sans-Serif;
    text-align: left;
}
.MicrosoftMap .infobox-body {
    pointer-events: auto;
}
.MicrosoftMap .infobox-close {
    color: #777777;
    font-size: 16px;
    height: 16px;
    outline: medium none;
    pointer-events: auto;
    position: absolute;
    right: 5px;
    text-align: center;
    text-decoration: none;
    top: 5px;
    width: 16px;
    z-index: 10;
}
.MicrosoftMap .Infobox .infobox-body {
    padding-bottom: 4px;
}
.MicrosoftMap .Infobox .infobox-title {
    color: #333333;
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    line-height: 1.1;
    margin-right: 20px;
    padding: 10px;
}
.MicrosoftMap .Infobox .infobox-title a {
    text-decoration: none;
}
.MicrosoftMap .Infobox .infobox-title a:hover {
    text-decoration: underline;
}
.MicrosoftMap .Infobox .infobox-info {
    color: #888888;
    font-family: verdana;
    font-size: 10pt;
    overflow: auto;
    padding: 10px;
}
.MicrosoftMap .Infobox .infobox-actions {
    border-top: 1px solid #888888;
    clear: both;
    color: #676767;
    font-size: 0.9em;
    height: 15px;
    margin: 0 0 -4px;
    padding: 4px 8px 8px;
}
.MicrosoftMap .Infobox .infobox-actions-list {
    line-height: 1.3;
    list-style: none outside none;
    margin: 0 0 -8px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.MicrosoftMap .Infobox .infobox-actions-list li {
    float: left;
    margin: 0 0 4px -4px;
}
.MicrosoftMap .Infobox .infobox-actions-list li:last-child a {
    border: 0 none;
}
.MicrosoftMap .Infobox .infobox-actions-list li a {
    border-right: 1px solid #888888;
    display: block;
    padding: 0 8px;
    text-decoration: none;
}
.MicrosoftMap .Infobox .infobox-actions-list li a.icon {
    height: 18px;
    margin: 2px 8px;
    padding: 0;
    position: relative;
    width: 13px;
}
.MicrosoftMap .Infobox .infobox-actions-list li a.icon img {
    border: medium none;
}
.MicrosoftMap .infobox-actions-list li a.icon:hover .iconUnderline {
    border-bottom: 1px solid #3366BB;
}
.MicrosoftMap .Infobox .infobox-actions-list li a:hover {
    text-decoration: underline;
}
.MicrosoftMap .Infobox .infobox-stalk {
    background: url("../../../7.0.20130219121201.04/i/Infobox/pointer_shadow.png") no-repeat scroll 0 0 transparent;
    bottom: 1px;
    height: 38px;
    left: 1px;
    position: relative;
    width: 33px;
}
.MicrosoftMap .MiniInfobox2 {
    font-family: Arial,Sans-Serif;
    height: auto;
    margin-left: -3px;
    position: absolute;
}
.MicrosoftMap .MiniInfobox2 .infobox-body, .MicrosoftMap .Infobox2 .infobox-body {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #727272;
    color: #BBBBBB;
}
.MicrosoftMap .MiniInfobox2 .infobox-body {
    font-size: 13px;
    padding: 8px;
    white-space: nowrap;
}
.MicrosoftMap .Infobox2 {
    height: auto;
    margin-left: -3px;
    top: -26px;
}
.MicrosoftMap .Infobox2 .infobox-body {
    font-family: Arial,Sans-Serif;
    font-size: 13px;
    padding: 13px 12px 9px;
}
.MicrosoftMap .Infobox2 .infobox-actions {
    margin: 4px -8px 0;
    padding: 0;
}
.MicrosoftMap .Infobox2 .infobox-actions-list {
    line-height: 1.3;
    list-style: none outside none;
    margin: 4px 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.MicrosoftMap .Infobox2 .infobox-actions-list li {
    display: inline;
    margin-bottom: 0;
}
.MicrosoftMap .Infobox2 .infobox-actions-list li a {
    padding: 0 8px;
}
.MicrosoftMap .Infobox2 .infobox-actions-list li a.icon {
    height: 18px;
    margin: 2px 4px 2px 8px;
    padding: 2px 0 0;
    position: relative;
    width: 13px;
}
.MicrosoftMap .Infobox2 .infobox-actions-list li a.icon .iconUnderline {
    height: 100%;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
}
.MicrosoftMap .Infobox2 .infobox-actions-list li a.icon img {
    border: medium none;
}
.MicrosoftMap .Infobox2 .infobox-actions-list li:last-child a {
    border: 0 none;
}
.MicrosoftMap .Infobox2 .infobox-actions-list .disabled a {
    color: #888888;
    cursor: default;
    outline: medium none;
    text-decoration: none;
}
.MicrosoftMap .Infobox2 .infobox-title {
    display: inline;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 4px 0 0;
    text-decoration: none;
}
.MicrosoftMap .Infobox2 .infobox-titleActionLink {
    display: inline;
    font-size: 13px;
    margin-left: 4px;
}
.MicrosoftMap .Infobox2 .infobox-body .infobox-info {
    margin-bottom: 6px;
    margin-top: 6px;
}
.MicrosoftMap .Infobox2 a, .MicrosoftMap .Infobox2 a:visited, .MicrosoftMap .Infobox2 .infobox-title {
    color: #FFFFFF;
    text-decoration: none;
}
.MicrosoftMap .Infobox2 a:hover {
    text-decoration: underline;
}
.MicrosoftMap .Infobox2 .infobox-stalk {
    background: url("../../../7.0.20130219121201.04/i/Infobox/darkinfoboxPointer.png") no-repeat scroll 0 0 transparent;
    bottom: 1px;
    height: 38px;
    left: 1px;
    position: relative;
    width: 29px;
}
.MicrosoftMap.dark .Infobox2 .infobox-body, .MicrosoftMap.dark .MiniInfobox2 .infobox-body {
    background: none repeat scroll 0 0 white;
    border: 1px solid #E5E5E5;
    color: black;
}
.MicrosoftMap.dark .Infobox2 .infobox-stalk {
    background: url("../../../7.0.20130219121201.04/i/Infobox/lightinfoboxPointer.png") no-repeat scroll 0 0 transparent;
}
.MicrosoftMap.dark .Infobox2 a, .MicrosoftMap.dark .Infobox2 a:visited, .MicrosoftMap.dark .Infobox2 .infobox-title, .MicrosoftMap.dark .MiniInfobox2 .infobox-body {
    color: #3366BB;
}
.MicrosoftMap .MiniInfobox2 .infobox-actions, .MicrosoftMap .MiniInfobox2 .infobox-actions-list, .MicrosoftMap .MiniInfobox2 .infobox-body .infobox-title .infobox-titleActionLink, .MicrosoftMap .MiniInfobox2 .infobox-body .infobox-info, .MicrosoftMap .MiniInfobox2 .infobox-stalk {
    display: none;
}
