
.MicrosoftMap .shadowtextDark, .MicrosoftMap .shadowtextLight {
    display: inline-block;
}
.MicrosoftMap .shadowtextDark {
    color: #000000;
    text-shadow: 1px 1px #FFFFFF;
}
.MicrosoftMap .shadowtextLight {
    color: #FFFFFF;
    text-shadow: 1px 1px #000000;
}
.MicrosoftMap .MapTypeId_fb .CopyrightContainer.shadowtextDark .fg {
    color: gray;
}
.MicrosoftMap .MapTypeId_fb .CopyrightContainer.shadowtextDark .bg {
    display: none;
}
.MicrosoftMap .ms-clear {
    border: 0 none !important;
    clear: both !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    width: 0 !important;
}
.MicrosoftMap .LogoContainer span {
    display: block;
    float: left;
}
.MicrosoftMap .LogoContainer.Active span {
    float: none;
}
.MicrosoftMap.miniscule .LogoContainer {
    display: none !important;
}
.MicrosoftMap .LogoContainer #bingLogo {
    background-image: url("../../../7.0.20130219121201.04/i/bingLogos.png");
    background-repeat: no-repeat;
}
.MicrosoftMap .LogoContainer #cobrandLogo {
    background-image: url("../../../7.0.20130219121201.04/i/nokiaLogos.png");
    background-repeat: no-repeat;
    margin-left: 4px;
    margin-top: -3px;
}
.MicrosoftMap.verySmall .LogoContainer #bingLogo {
    background-position: 0 -16px;
    height: 16px;
    width: 26px;
}
.MicrosoftMap.verySmall .LogoContainer.dark #bingLogo {
    background-position: 0 0;
}
.MicrosoftMap.verySmall .LogoContainer #cobrandLogo {
    background-position: 0 -16px;
    height: 16px;
    width: 36px;
}
.MicrosoftMap.verySmall .LogoContainer.dark #cobrandLogo {
    background-position: 0 0;
}
.MicrosoftMap.medium .LogoContainer #bingLogo {
    background-position: 0 -50px;
    height: 18px;
    width: 29px;
}
.MicrosoftMap.medium .LogoContainer.dark #bingLogo {
    background-position: 0 -32px;
}
.MicrosoftMap.medium .LogoContainer #cobrandLogo {
    background-position: 0 -50px;
    height: 18px;
    width: 43px;
}
.MicrosoftMap.medium .LogoContainer.dark #cobrandLogo {
    background-position: 0 -32px;
}
.MicrosoftMap.large .LogoContainer #bingLogo {
    background-position: 0 -97px;
    height: 29px;
    width: 45px;
}
.MicrosoftMap.large .LogoContainer.dark #bingLogo {
    background-position: 0 -68px;
}
.MicrosoftMap.large .LogoContainer #cobrandLogo {
    background-position: 0 -97px;
    height: 29px;
    margin-left: 8px;
    width: 64px;
}
.MicrosoftMap.large .LogoContainer.dark #cobrandLogo {
    background-position: 0 -68px;
}
.MicrosoftMap .LogoContainer, .MicrosoftMap .LogoContainer.Active {
    bottom: 0;
    left: 0;
    padding-left: 10px;
    position: relative;
    z-index: 0;
}
.MicrosoftMap .LogoContainer {
    min-width: 127px;
}
.MicrosoftMap .LogoContainer.Active {
    background-color: #4C5357;
    padding-top: 5px;
}
.MicrosoftMap .LogoContainer.Active #bingLogo {
    background-position: 0 -68px;
    height: 29px;
    width: 62px;
}
.MicrosoftMap .LogoContainer.Active #bingLogo {
    background-position: 0 -67px;
    height: 29px;
    width: 62px;
}
.MicrosoftMap .LogoContainer.Active.dark {
    background-color: #FFFFFF;
}
.MicrosoftMap .LogoContainer.Active.dark #bingLogo {
    background-position: 0 -97px;
}
.MicrosoftMap .LogoContainer.dark .LogoSearchInput {
    border: 1px solid #AAAAAA;
}
.MicrosoftMap .LogoContainer.Active #cobrandLogo, .MicrosoftMap .MapTypeId_fb #cobrandLogo {
    display: none !important;
}
.MicrosoftMap .MapTypeId_fb #bingLogo {
    background-image: url("../../../7.0.20130219121201.04/i/bingLogo_fb.png") !important;
    background-position: 0 0 !important;
    height: 28px !important;
    width: 70px !important;
}
.MicrosoftMap .MapTypeId_fb .LogoContainer.Active {
    background-color: transparent;
}
.MicrosoftMap .MapTypeId_fb .LogoSearchContainer {
    display: none;
}
.MicrosoftMap .LogoSearchContainer {
    background: none repeat scroll 0 0 #4C5357;
    bottom: 0;
    height: 29px;
    left: 62px;
    padding: 3px 2px 2px 0;
    position: absolute;
    z-index: 0;
}
.MicrosoftMap .LogoContainer.dark .LogoSearchContainer {
    background: none repeat scroll 0 0 #FFFFFF;
}
.MicrosoftMap .LogoSearchGroup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #4C5357;
    height: 24px;
    margin: 1px 2px 0 0;
    position: relative;
}
.MicrosoftMap #LogoSearchInput {
    border: 0 none;
    font-size: 14px;
    margin: 5px 3px 0 0;
    padding: 0 23px 0 3px;
    width: 150px;
}
.MicrosoftMap .watermark {
    color: #AAAAAA;
    font-style: italic;
}
.MicrosoftMap #LogoSearchGo {
    background: url("../../../7.0.20130219121201.04/i/search_icon.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}
.MicrosoftMap .LogoContainer.dark #LogoSearchGo {
    background-image: url("../../../7.0.20130219121201.04/i/search_icon_aerial.png");
}
* + html .MicrosoftMap .LogoContainer a {
    display: inline-block;
}
* + html .MicrosoftMap .LogoContainer a .clear {
    display: none !important;
}
.MicrosoftMap .ScaleBarContainer {
    color: #333333;
    padding-bottom: 0.3em;
    position: relative;
    text-align: right;
    top: -5px;
}
.MicrosoftMap .ScaleBar {
    display: inline-block;
    margin-left: 1em;
    padding-bottom: 0.05em;
    padding-top: 0.5em;
    position: relative;
}
.MicrosoftMap.miniscule .ScaleBarContainer {
    display: none !important;
}
.MicrosoftMap.verySmall .shadowtextDark, .MicrosoftMap.verySmall .shadowtextLight {
    font-size: 80%;
}
.MicrosoftMap.medium .shadowtextDark, .MicrosoftMap.medium .shadowtextLight {
    font-size: 90%;
}
.MicrosoftMap.large .shadowtextDark, .MicrosoftMap.large .shadowtextLight {
    font-size: 100%;
}
.MicrosoftMap .ScaleBar .shadowtextDark, .MicrosoftMap .ScaleBar .shadowtextLight {
    position: relative;
    white-space: nowrap;
}
.MicrosoftMap .ScaleBar .scalerect {
    background: none repeat scroll 0 0 #4499FF;
    border: 1px solid #FFFFFF;
    font-size: 0;
    height: 3px;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}
.MicrosoftMap .shadowtextLight ~ .scalerect {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #676767;
}
.MicrosoftMap .CopyrightContainer {
    position: relative;
    text-align: right;
}
.MicrosoftMap .CopyrightContainer .copyrightAttribution {
    margin-left: 12px;
}
.MicrosoftMap .CopyrightContainer.stacked .copyrightAttribution {
    display: block;
    margin: 0;
}
.MicrosoftMap .MicrosoftNav {
}
.MicrosoftMap .OverlaysTL {
    background: none repeat scroll 0 0 #F4F1EE;
    border-bottom: 1px solid #D4D4D4;
    height: 29px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}
.MicrosoftMap .OverlaysBR, .MicrosoftMap .OverlaysBR-logoAware {
    bottom: 7px;
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    position: absolute;
    right: 10px;
    z-index: 0;
}
.MicrosoftMap .OverlaysBR-logoAware {
    margin-left: 90px;
}
.MicrosoftMap .OverlaysBL {
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}
.MicrosoftNav .NavBar_toolButton {
    width: 25px;
}
.MicrosoftNav .NavBar_button {
    border: medium none;
    color: #5077BB;
    display: inline-block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: top;
}
.MicrosoftNav A {
    text-decoration: none;
}
.MicrosoftNav .NavBar_separator {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -308px transparent;
    display: inline-block;
    height: 29px;
    margin: 0 4px;
    width: 3px;
}
.NavBar_compassControlContainer {
    background: none repeat scroll 0 0 #FAF7F5;
    cursor: default;
    height: 29px;
    position: absolute;
    width: 108px;
}
.NavBar_breadcrumb .NavBar_compassControlContainer {
    left: 200px;
}
.NavBar_compassControlContainer .NavBar_compass {
    border: medium none;
    color: #5077BB;
    display: inline-block;
    font-family: Verdana;
    font-size: 11px;
    height: 29px;
    line-height: 29px;
    margin: 0 3px;
    text-align: center;
    width: 50px;
}
.NavBar_compassControlContainer .NavBar_compassFlat {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -60px transparent;
    height: 29px;
    width: 50px;
}
.NavBar_compassControlContainer .NavBar_compassN {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -120px transparent;
    height: 29px;
    width: 50px;
}
.NavBar_compassControlContainer .NavBar_compassE {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -150px transparent;
    height: 29px;
    width: 50px;
}
.NavBar_compassControlContainer .NavBar_compassS {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -90px transparent;
    height: 29px;
    width: 50px;
}
.NavBar_compassControlContainer .NavBar_compassW {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -30px transparent;
    height: 29px;
    width: 50px;
}
.NavBar_compassControlContainer .NavBar_rotateLeft {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -180px transparent;
    height: 29px;
    width: 25px;
}
.NavBar_compassControlContainer .NavBar_rotateRight {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -210px transparent;
    height: 29px;
    width: 25px;
}
.NavBar_compassControlContainer .NavBar_button:hover {
    background-color: #EFEEEC;
}
.NavBar_compassControlContainer .NavBar_clientRegion {
    position: absolute;
    top: 0;
}
.NavBar_compassControlContainer .NavBar_clientRegion_left {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}
.NavBar_zoomControlContainer {
    background: none repeat scroll 0 0 #FAF7F5;
    height: 29px;
    left: 108px;
    position: absolute;
    top: 0;
    width: 52px;
}
.NavBar_breadcrumb .NavBar_zoomControlContainer {
    left: 308px;
}
.NavBar_zoomControlContainer .NavBar_zoomIn {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -240px transparent;
    height: 29px;
    margin-left: 2px;
    width: 25px;
}
.NavBar_zoomControlContainer .NavBar_zoomOut {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -270px transparent;
    height: 29px;
    width: 25px;
}
.NavBar_zoomControlContainer .NavBar_zoomDrop {
    background: none repeat scroll 0 0 #FAF7F5;
    height: 143px;
    left: 0;
    top: 29px;
    width: 52px;
}
.NavBar_zoomControlContainer .NavBar_zoomBar {
    cursor: pointer;
    height: 131px;
    left: 11px;
    top: 6px;
    width: 30px;
}
.NavBar_zoomControlContainer .NavBar_zoomBarBg {
    background: url("../../../7.0.20130219121201.04/i/nav/zoom_bar.png") no-repeat scroll 0 0 transparent;
    height: 198px;
    left: 12px;
    position: absolute;
    width: 6px;
}
.NavBar_zoomControlContainer .NavBar_zoomSlider {
    background: url("../../../7.0.20130219121201.04/i/nav/zoom_thumb.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 8px;
    left: 7px;
    position: absolute;
    width: 16px;
}
.NavBar_modeSelectorControlContainer {
    background: none repeat scroll 0 0 #FAF7F5;
    font-family: Arial,Helvetica,sans-serif;
    height: 29px;
    left: 160px;
    position: absolute;
    top: 0;
    width: 190px;
    z-index: 1;
}
.NavBar_modeSelectorControlContainer.activeMenu {
    z-index: 500;
}
.NavBar_typeButton_count2 .NavBar_modeSelectorControlContainer {
    width: 260px;
}
.NavBar_breadcrumb .NavBar_modeSelectorControlContainer {
    left: 360px;
}
.NavBar_modeSelectorControlContainer .NavBar_dropIconContainer, .NavBar_modeSelectorControlContainer .NavBar_typeButtonLabel {
    color: #5077BB;
    display: inline-block;
    height: 29px;
    vertical-align: top;
}
.NavBar_modeSelectorControlContainer .NavBar_dropIcon {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -300px transparent;
    display: inline-block;
    font-size: 0;
    height: 7px;
    margin: -4px 3px;
    position: relative;
    top: 50%;
    vertical-align: top;
    width: 8px;
}
.NavBar_modeSelectorControlContainer .NavBar_buttonSel {
    color: #EA8232;
}
.NavBar_modeSelectorControlContainer .NavBar_typeButton {
    padding: 0 4px;
}
.NavBar_modeSelectorControlContainer .NavBar_typeButton .separator {
    display: none;
}
.MicrosoftMap_NavBar_typeMenu {
    background: none repeat scroll 0 0 #F8F7F5;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    width: 330px;
    z-index: 100;
}
.MicrosoftMap_NavBar_typeMenu LI {
    list-style: none outside none;
    margin: 0;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_itemContainer {
    padding: 4px;
}
.MicrosoftMap_NavBar_typeMenu SPAN {
    font-size: 12px;
    margin-right: 2em;
    position: relative;
    top: 2px;
    vertical-align: top;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_itemContainer:hover, .MicrosoftMap_NavBar_typeMenu .NavBar_itemContainer:focus {
    background: none repeat scroll 0 0 #EFEEEC;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typePreview {
    border: 1px solid #CCCCCC;
    display: inline-block;
    height: 49px;
    margin-right: 4px;
    width: 49px;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typeContent {
    display: inline-block;
    vertical-align: top;
    width: 260px;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typeTitle {
    color: #777777;
    font-size: 16px;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typeDesc {
    font-size: 12px;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_menuItemSel .NavBar_typeTitle, .MicrosoftMap_NavBar_typeMenu .NavBar_menuItemSel .NavBar_typeDesc {
    color: #EA8232;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_menuItemSel .NavBar_typePreview {
    border-bottom: 2px solid #EA8232;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typePreview_r {
    background: url("../../../7.0.20130219121201.04/i/nav/preview_road.png") no-repeat scroll 0 0 transparent;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typePreview_a {
    background: url("../../../7.0.20130219121201.04/i/nav/preview_aerial.png") no-repeat scroll 0 0 transparent;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typePreview_auto {
    background: url("../../../7.0.20130219121201.04/i/nav/preview_auto.png") no-repeat scroll 0 0 transparent;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typePreview_be {
    background: url("../../../7.0.20130219121201.04/i/nav/preview_birdseye.png") no-repeat scroll 0 0 transparent;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typePreview_cb {
    background: url("../../../7.0.20130219121201.04/i/nav/preview_cb.png") no-repeat scroll 0 0 transparent;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_typePreview_os {
    background: url("../../../7.0.20130219121201.04/i/nav/preview_os.png") no-repeat scroll 0 0 transparent;
}
.MicrosoftMap_NavBar_typeMenu .NavBar_checkControl {
    float: left;
    white-space: nowrap;
}
.MicrosoftMap .BreadcrumbContainer {
    position: absolute;
    width: 200px;
}
.MicrosoftMap .pathHeight {
    display: inline-block;
    height: 29px;
    vertical-align: middle;
}
.MicrosoftMap .pathNodeDelim {
    vertical-align: middle;
}
.MicrosoftMap .pathNode {
    padding: 8px 3px;
    vertical-align: middle;
}
.MicrosoftMap .pathNode:link {
    color: #5077BB;
}
.MicrosoftMap .pathNodeSelected {
    color: #737373;
}
.MicrosoftMap .pathNode:hover {
    background: none repeat scroll 0 0 #EFEEEC;
    cursor: pointer;
}
.MicrosoftMap .pathContainer {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #F8F7F5;
    border: medium none;
    color: #5077BB;
    height: 29px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.MicrosoftMap .path {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
}
.MicrosoftMap .pathHover {
    cursor: default;
}
.MicrosoftMap .pathList {
    background: none repeat scroll 0 0 #F8F7F5;
    color: #5077BB;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.MicrosoftMap .pathList li {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 8px 20px 8px 10px;
    white-space: nowrap;
}
.MicrosoftMap .pathList li:hover {
    background: none repeat scroll 0 0 #EFEEEC;
    cursor: pointer;
}
.MicrosoftMap .unlockButton {
    background: url("../../../7.0.20130219121201.04/i/BreadcrumbUnlock.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    display: none;
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    width: 31px;
    z-index: 0;
}
.MicrosoftMap .unlockButton:hover {
    background: url("../../../7.0.20130219121201.04/i/BreadcrumbUnlockFocus.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}
.MicrosoftMap .currentIcon {
    background: url("../../../7.0.20130219121201.04/i/YouAreHereBC.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 29px;
    vertical-align: middle;
    width: 22px;
}
.MicrosoftMap .currentIcon:hover {
    background-color: #EFEEEC;
    cursor: pointer;
}
.MicrosoftMap .groupContainer {
    padding: 11px 0 12px 3px;
}
.MicrosoftMap .groupContainer:hover {
    background: none repeat scroll 0 0 #EFEEEC;
    cursor: pointer;
}
.MicrosoftMap .group {
    padding: 8px 2px 8px 0;
    vertical-align: middle;
}
.MicrosoftMap .groupListSign {
    background: url("../../../7.0.20130219121201.04/i/d.png") no-repeat scroll 0 -300px transparent;
    display: inline-block;
    height: 7px;
    padding: 0 3px 0 0;
    vertical-align: middle;
    width: 8px;
}
