#sidebar_left {
	width:25%;
	height:70%;
	left:0px;
	color:#B300B3;
	border:4px solid #B300B3; 
	border-radius: 9px; 
	
}
#sidebar_right {
	width:25%;
	height:70%;
	font-family:arial,helvetica,sans-serif;
	border:1px solid #cecece;
	padding:5px;	
	right:0px;
	color:#0000B3;
	border:4px solid #0000B3; 
	border-radius: 9px; 
}
#sidebar_top {
	width:50%;
	height:20%;	
	top:0px;
	color:#FF2626;
	border:4px solid #FF2626; 
	border-radius: 9px; 
}
#sidebar_bottom {
	width:100%;
	height:20%;
	bottom:0px;
	color:#4CFF4C;
	border:4px solid #4CFF4C; 
	border-radius: 9px; 
}
