html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html {	
}
body {
}
ol, ul {list-style: none;
}
blockquote, q {quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {outline: 0;
}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;
}
del {text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #fff;
}

body {
	overflow: hidden;	
}

#switcher {
	background: #3f4551;
    min-height: 59px;
    position: fixed;
    width: 100%;
    z-index: 99999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #605e68;	
}

#theme_select {
	margin: 0 0 0 9px; 
	background-image: url(dropdown.png);
	background-color:transparent;
	background-position:100% 18px;
	background-repeat:no-repeat;
	width: 275px;
	height:41px;
	display: block;
	color: #ffffff;
	font-size: 15px;
	border:1px #616773 solid;
	border-radius:3px;
	-webkit-border-radius:3px;
	margin-top:8px;
	margin-bottom:8px;		
}
#theme_select:hover, #theme_select.active {border-color:#787d8a;
}
#theme_select span.fl {
	color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
    font-size: 15px;
    margin-left: 16px;
	line-height:22px;
    padding-top: 9px;
    text-transform: none;
	height:22px;
	max-width:225px;
	overflow:hidden;
	float: left;
}
#theme_select .fr {display:none;
}
#theme_select img {display:none !important;
}

.gt3_btn a {
	display:block;
	transition: background-color 250ms;
	-webkit-transition: background-color 250ms;
	line-height:22px;
	background-color:#ed6a6a;
	font-size:15px;
	font-weight:700;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	padding:10px 21px 11px 21px;
	margin-top:8px;
	border-radius:3px;
	-webkit-border-radius:3px;
}
.gt3_btn a:hover {background-color:#fa8383;
}
li.purchase,
li.socials {float:right !important;
}
li.remove_frame {
	padding-right:9px !important;
	float:right !important;
}
li.remove_frame a {
	background-image: url(remove.png);
	background-color: transparent;
	background-position:center center;
	background-repeat:no-repeat;
	border:1px #616773 solid;
	display:block;
	width:41px;
	height:41px;
	padding:0;
	line-height:41px;
	transition: border-color 250ms;
	-webkit-transition: border-color 250ms;
	text-indent:-10000px;
	margin-top:8px;
	border-radius:3px;
	-webkit-border-radius:3px;
}
li.remove_frame a:hover {border-color:#787d8a;
}
.socials_block {
	border:1px #616773 solid;
	margin-top:8px;
	border-radius:3px;
	-webkit-border-radius:3px;
	padding:11px 0 0 10px;
	height:30px;
}
.soc_item {
	display:inline-block;
	vertical-align:top;
	margin-right:7px;
} 

#iframe {margin-top: 59px; 
}
.logo img {
	margin:20px 3px 0 19px;
	transition: opacity 250ms;
	-webkit-transition: opacity 250ms;
} 
.logo a:hover img {
	opacity: 0.7; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
} 

.online_chat a {
	background-image: url(live_chat.png);	
	background-position:14px 12px;
	padding-left:45px;			
}

#switcher .socIcons a {
	background-color:#3a3841;
	background-position:center center;
	background-repeat:no-repeat;
	display:block;
	width:44px;
	height:44px;
	padding:0;
	line-height:44px;
	transition: background-color 250ms;
	-webkit-transition: background-color 250ms;
	text-indent:-10000px;
}
#switcher .socIcons a:hover {background-color:#4f4d58;
}
#switcher .addFavorite a {background-image: url(favorite.png);
}
#switcher .addFacebook a {background-image: url(soc_fb.png);
}
#switcher .addFacebook a:hover {background-color:#3a57a2;
}
#switcher .addTwitter a {background-image: url(soc_twitter.png);
}
#switcher .addTwitter a:hover {background-color:#00a9f4;
}
#switcher .addDribbble a {background-image: url(soc_dribbble.png);
}
#switcher .addDribbble a:hover {background-color:#e6528b;
}
#switcher .addBehance a {background-image: url(soc_behance.png);
}
#switcher .addBehance a:hover {background-color:#2498d5;
}

.center {width: 100%;
}
.center ul li {
	height: 59px;
	display: inline;
	float: left;
	position: relative;
	padding-right:8px;
}

.advanced_templates_block {
	visibility:hidden;
	position: absolute;
	background:#fff;
	border:1px #e7e7e7 solid;
	border-top:0;
	padding:18px 8px 16px 19px;
	width:795px;
	left:9px;
}

.f_left {float:left;
}
.f_right {float:right;
}
.c_lear {
	clear:both;
	font-size:0;
	height:0;
}

.templs_li_block {
	width:228px;
	height:261px;
	margin-right:19px;
	display:inline-block;
	border-right:1px #e7e7e7 solid;
	position:relative;	
	vertical-align:top;
}
.templs_in {
	padding-top:23px;
	height:261px;	
	cursor: url('css_cursor_move.png'), pointer;
}

.templs_li_block h3 {
	position:absolute;
	width:90%;
	display:block;
	left:0;
	top:0;
	background:#fff;
	z-index:9999;	
	line-height:18px;
	padding:0 0 5px 0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #605e68;
	font-size:14px;
	text-transform:none;
}

.templs_li_block ul {
	padding:0 !important;
	margin:0 !important;
	list-style:none !important;
}
.templs_li_block ul li {
	padding:2px 0 !important;
	margin:0 !important;
	list-style:none !important;
	display:block !important;
	float: none !important;
	height:auto !important;
	line-height:18px !important;
	vertical-align:top;
}

.templs_li_block li a, .templs_li_block li a span {
	padding:0 !important;
	margin:0 !important;
	list-style:none;
	line-height:18px;
	color:#605e68;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:12px;
	text-transform:none;
}
.templs_li_block li a {
	vertical-align:top;
	outline:none;
	padding-left:9px !important;
	display:inline-block;
	position:relative;
}
.templs_li_block li .fr {display:none !important;
}
.templs_li_block li a:hover,
.templs_li_block li a:hover span {color:#ef4f53 !important;
}
.templs_li_block li a:before {
	position:absolute;
	left:0;
	top:6px;
	width:4px;
	height:7px;
	background-image: url(list_arrow.png);
	background-position: 0 0;
	background-repeat:no-repeat;
	content:'';
}
.templs_li_block li a:hover:before {background-position: 0 -22px;
}

.previmg_cont {
	background-color:transparent;
	width:590px;
	height: 300px;
    left: 9px;
	top:355px;
    position: absolute;
    z-index: 15000;
	border:0;
	visibility:hidden;
}

.top_selling_block {
	width:298px;
	float:right;
	padding-left:1px;
}
.top_selling_block h3 {
	line-height:18px;
	padding:0 0 4px 0;
	margin:0;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #605e68;
	font-size:14px;
	text-transform:none;
}
.top_selling_block img {
	max-width:100%;
	margin:11px 11px 0 0;
	float:left;
}
.top_selling_block .fl, .top_selling_block .fr {display:none !important;
}
.product_list_divider {display:none;
}

.skype_btn {
    float: right !important;
}

.skype_btn a {
    display: block;
    margin-top: 12px;
}

.skype_btn img {
    margin: 0 !important;
    vertical-align: 0 !important;
}


@media only screen and (min-width: 768px) and (max-width: 980px) {
	.templs_li_block {width:198px;
	}
	.advanced_templates_block {width:739px;
	}
	.headlines li:first-child {display:none;
	}	
}
@media only screen and (max-width: 1000px) {
	.socials {display:none !important;
	} 
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
	.logo {display:none !important;
	} 
	.advanced_templates_block {left:0;
	}
	.previmg_cont {left:0;
	}
}

@media only screen and (max-width: 767px) {
	.logo,
	.socIcons,
	.online_chat,
	.previmg_cont,
	.online_chat a,
	.banner_hosting a {display: none !important;
	}
	#theme_select {width: 200px;
	}
	.top_selling_block {display:none !important;
	}
	.advanced_templates_block {
		width:478px;
		padding-right:0;
		left:0;
	}
	.previmg_cont {left:0;
	}
	.templs_li_block, .templs_in {height:285px;
	}	
	.html_section {
		margin-right:0 !important;
		background:none !important;
		border:0 !important;
	}	
	
}
@media only screen and (max-width: 500px) {
	.advanced_templates_block {
		width:260px;
		padding-right:18px !important;
	}
	.templs_li_block, .templs_in {
		height:auto !important;
	}	
	.templs_li_block {
		width:260px;
		margin-right:0 !important;
		display:block;
		background: none;
		position:relative;	
	}
	.product_list_divider {
		height:1px;
		background:#e7e7e7;
		margin:20px 0;
		display:block;
	}
	.templs_li_block h3 {position:relative !important;
	}
	.templs_in {padding-top:0 !important;
	}	
	.advanced_templates_block .f_left {float:none;
	}
	li.purchase a {
		width:43px !important;
		height:43px !important;
		padding:0 !important;
		overflow:hidden;
		text-indent:-9999px;
		background-image: url(purchase.png);
		background-position:center center;
		background-repeat:no-repeat;
	}
	.center ul li {padding-right:6px;
	}
}

