body {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.fill {
	position: absolute;
	top: 0;
	left: 320px;
	right: 0;
	height: 100%;
}

#sidebar {
	width: 320px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: rgb(18,65,145);
	padding: 10px;
	color: #FFF;
	overflow-x: hidden;
	overflow-y: auto;
}

.ui-sortable {
	list-style: none;
	margin: 0;
	padding: 0;
}
	.ui-sortable li {
		cursor: move;
		position: relative;
		background: #EFEFEF;
		padding: 3px 5px;
		height: 2em;
		line-height: 2em;
		color: #333;
		border-bottom: 1px solid #666;
	}
		.ui-sortable li .close {
			display: none;
			position: absolute;
			right: 1%;
			top: 0;
			font-size: 2em;
			cursor: pointer;
			color: #B5D0EB;
		}
		.ui-sortable li:hover .close {
			display: block;
		}