Options +FollowSymlinks

RewriteEngine On
RewriteBase /~dongnd/dongnd.koding.com/website/myzone

ErrorDocument 404 /errors/404.php

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]


