<div class="left">
	<h1>What is it?<br>And how does it work?</h1>

	<p>Lets assume you’re with a group  of friends that have the plan to go somewhere far away. A cool trip with just that group.</p>

	<p>You could all spent a lot of time together going trough hell to get a something together ending up crying from frustration because of the chaos and issues etc..</p>

	<p>This is where Travellar comes in the play. One of you signs up and creates the trip. Then he invites his friends by entering their emails into the system so they can join the group.</p>

	<p>And that’s the beginning of your awesome trip.</p>

	<p><a href="#register" id="link-signup">Sign up and start planning your trip today! &#8594;</a></p>
</div>

<div class="right">
	<img src="images/friends.jpg" alt="Friends together">

	<div class="buttons">
		<a href="#register" class="button nav">Register</a>
		<a href="#login" class="button nav">Login</a>
	</div>
</div>