<h1>Login</h1>

<div class="response"></div>

<form action="" method="post" id="frmLogin">
	<div>
		<label for="email">Email</label>
		<input type="email" name="email" id="email">
	</div>
	<div>
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
	</div>
	<div>
		<input type="submit" value="Login" name="login">
		<input type="button" value="Don't have an account yet?" id="donthaveanaccountyet">
	</div>
</form>