<div id="myaccount">
	<header>
		<h1>My Account</h1>
		<div class="buttons">
			<a href="#" id="myProfile" class="button active">My profile</a>
			<a href="#" id="myTrips" class="button">My trips</a>
		</div>
	</header>

	<div class="content">

		{{> myaccount_profile }}

	</div>

</div>