<h1>Plan your trip</h1>
<p>
	Unfortunately it's not yet possible to plan trips without logging in first.<br />
	So if you have an account, please <a href="#login">login</a> first. And otherwise, <a href="#register">just register</a>. It won't take more than 1 minute!
</p>