<h1>Register</h1>

<div class="response"></div>

<form action="" method="post" class="sideways" id="frmRegister">

	<div>
		<label for="fname">First name</label>
		<input type="text" name="fname" id="fname">
	</div>
	<div>
		<label for="lname">Last name</label>
		<input type="text" name="lname" id="lname">
	</div>

	<div class="spacer"></div>

	<div>
		<label for="email">Email</label>
		<input type="email" name="email" id="email">
	</div>

	<div class="spacer"></div>

	<div>
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
	</div>
	<div>
		<label for="passwordver">Password verification</label>
		<input type="password" name="passwordver" id="passwordver">
	</div>

	<div class="spacer"></div>
	
	<div>
		<input type="submit" value="Register" name="register">
		<input type="button" value="Already have an account?" id="alreadyAccount">
	</div>
</form>