html, body {
        height: 100%;
        margin: 0px;
    }
    #map-canvas {
        height: 100%;
    }
	
	@media print {
    .non-printable, .fancybox-outer { display: none; }
    .printable, #printDiv { 
        display: block; 
        font-size: 26pt;
    }
  }