<footer>
	<div class="center">

		<ul class="inner">
			<li class="social">
				<h3>Follow us</h3>

				<ul>
					<li><a href="#"><span></span> Twitter</a></li>
					<li><a href="#"><span></span> Facebook</a></li>
				</ul>
			</li>


			<li class="findushere">
				<h3>Find us here</h3>
				<a href="https://maps.google.be/maps?q=50.82463,3.24955&hl=en&sll=50.501079,4.466112&sspn=2.372501,5.817261&t=m&z=16" target="_blank"><img src="images/map-cached.png" alt="Google static maps" id="googleMaps"></a>
			</li>
			<li class="pages">
				<h3>Pages</h3>

				<ul>
					<li><a href="#about">About</a></li>
					<li><a href="#plan-your-trip">Plan your trip</a></li>
					<li><br></li>
					<li><a href="#register">Register</a></li>
					<li><a href="#login">Login</a></li>
				</ul>
			</li>
		</ul>

	</div>

	<p>&copy; All rights reserved to Travellar.<br>Created by <a href="http://wouterds.be/">Wouter De Schuyter</a></p>
</footer>