<p>Below you can change and update your profile information.</p>

<div class="response"></div>

<form action="" method="post" class="sideways" id="frmProfile">

	<div>
		<label for="fname">First name</label>
		<input type="text" name="fname" id="fname" value="{{ user.fname }}">
	</div>
	<div>
		<label for="lname">Last name</label>
		<input type="text" name="lname" id="lname" value="{{ user.lname }}">
	</div>

	<div class="spacer"></div>

	<div>
		<label for="newEmail">Email</label>
		<input type="email" name="newEmail" id="newEmail" value="{{ user.email }}">
	</div>

	<div class="spacer"></div>

	<div class="info">
		<p class="info">If you do not wish to change your password, please leave the password fields blank.</p>
	</div>

	<div>
		<label for="newPassword">New password</label>
		<input type="password" name="newPassword" id="newPassword">
	</div>
	<div>
		<label for="newPasswordVer">New password verification</label>
		<input type="password" name="newPasswordVer" id="newPasswordVer">
	</div>

	<div class="spacer"></div>

	<div>
		<label for="password">Current password</label>
		<input type="password" name="password" id="password">
	</div>

	<div class="info">
		<p class="info">To change information we need to verify it's you.</p>
	</div>

	<div class="spacer"></div>
	
	<div>
		<input type="submit" value="Update information" name="update">
	</div>
	
</form>