<nav id="mainNavigation" class="showMobile">
	<div class="inner">
		<a href="#" class="toggleNav">Toggle Navigation</a>
		<a class="title" href="#about">Travellar</a>
	</div>
	<ul>
		<li class="heading">Menu</li>
		<li class="active"><a href="#about">About</a></li>
		<li><a href="#plan-your-trip">Plan your trip</a></li>
		<li><a href="#register">Register</a></li>
		<li><a href="#login">Login</a></li>
	</ul>
</nav>