@charset "utf-8";
/* CSS Document */


  		html,
		body {
			margin:0;
			padding:0;
			height:100%;
			background: #F1AAC6;
		}
		#wrapper {
			min-height:100%;
			position:relative;
		}
		#header {
			padding:5px;
			background:#ECC8B5;
		}
		#content {
			padding:5px;
			padding-bottom:10%;   /* Height of the footer element */
			height:100%;
		}
		#time { 
			position:relative;
			margin:40px;
			left: 40px;

			}
			
		#time_right { 
			position:relative;
			float: right;
			top: -55px;
			}
			
		#time_right2{ 
			position:relative;
			float: right;
			top: -55px;
			right: 5px;
			}
			
		#time_right3{ 
			position:relative;
			float: right;
			top: -55px;
			right: 10px;
			}
		#footer {
			width:100%;
			height:10%;
			position:absolute;
			bottom:0;
			left:0;
			background:#A5BFDD;
			max-height:62px;
			min-height:32px;
		}
		#fltrt {  

				float: right;

				margin-left: 8px;

			}

		#fltlft { 

				float: left;

				margin-right: 8px;

			}
			
		#fllft_Aqua { 

				color: #421876;

			}
			
		#fllft_Blue_To_Hide_Text { 

				color: #F1AAC6;

			}
